<div id="vote-container">
  <button type="submit" id="upvote" class="vote-option"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>
  <button type="submit" id="upvote" class="vote-option"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
</div>
