<div class="vote-buttons">
  <button type="submit" class="upvote vote-option"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>
  <button type="submit" class="downvote vote-option"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
</div>
