<button type="submit" class="button"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button><button type="submit" class="button"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
