<div class="main-container">
	<% if @message %>
	<p><%= @message %></p>
	<% end %>
	<form class='form' action='/sessions' method='POST'>
	  <div class="form-inputs">
	    <input class="input-box" type="text" placeholder="username" name="user[username]">
	  </div>
	  <div class="form-inputs">
	    <input class="input-box" type="password" placeholder="password" name="user[password]">
	  </div>
	  <button class="submit-button" type="submit">Sign in</button>
	</form>
</div>