<div class="new-comment-form">
  <form action="<%= @post_route %>" method="post">
    <input id="comment_content" name="comment[content]" type="text" placeholder="write a comment">
    <button type="submit">post comment</button>
  </form>
</div>
