<div class="comment-content">
  <% if logged_in? %>
    <form class="vote-container" action="/comments/<%= comment.id %>/votes" type="POST">
      <%= erb :'/questions/_vote_buttons' %>
    </form>
  <% end %>
  <div class="comments">
    <%= comment.content %>
  </div>
  <%= erb :'/partials/_post_footer', locals: { post: comment } %>
</div>
