/*body {
  width: 600px;
  margin: 0 auto;
}*/

header.full-container {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: pink;
}

.top-menu-container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  height: 80px;
}

#page-title {
  position: absolute;
  /*bottom: -15px;*/
  color: white;
  left: 40px;
  text-transform: lowercase;
  font-size: 2.2em;
}

.delete-button {
  background: none!important;
  border: none;
  padding: 0!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
}

.question-list a {
  color: purple;
}
nav.container {
  position: absolute;
  bottom: 5px;
  right: 50px;
  color: white;
}

nav.links {
  list-style-type: none;
  line-height: 100px;
  color: white;
  /*text-transform: uppercase;*/
}

nav ul li {
  display: inline-block;
}

nav.links a:visited {
  color: white;
}


.main-container {
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  padding: 5px;
}

.page-content {
  margin: 0 auto;
  padding-top: 50px;
}

.question-info {
  padding: 50px 50px 50px 50px;
  border: 6px solid pink;
  /*background-color: pink;*/
  margin: 30% auto;
}

nav.new-question {
  position: absolute;
  padding: 3em;
  top: 25px;
  right: 10px;
}

.question-title {
  /*display: inline;*/
  padding: .5em 0 .5em 0;
}

#question-description {
  /*padding: .5em 0 .5em 0;*/
}

#answer-new {
  margin: 0 auto;
}


form {
  position: relative;
  float: left;
}   

.form-inputs {
  font-size: 17px;
  border: none
}

.input-box {
  background-color: #e8e8e8;
  float: right;
}

.submit-button {
  width: 100%;
  background-color: pink;
  padding: 10px;
  background-size:50px;
  color: white;
}

.vote-container {
  display: inline;
}

.vote-buttons {
  display: inline;
}

.vote-option {
  background: transparent;
  border: none;
}

.post-footer{
  padding: .4em .4em .4em .4em;
  display: inline;
}

.post-footer .points:after{
  content: " points";
}

.best-answer {
  background-color: orange;
}
