/*body {
  width: 600px;
  margin: 0 auto;
}*/

header.full-container {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: pink;
}

.top-menu-container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  height: 80px;
}

#page-title {
  position: absolute;
  bottom: -15px;
  left: 20px;
  text-transform: lowercase;
  font-size: 2.2em;
}

.delete-button {
  background: none!important;
  border: none;
  padding: 0!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
}

nav.container {
  position: absolute;
  bottom: 5px;
  right: 50px;
}

nav.links {
  list-style-type: none;
  line-height: 100px;
  /*text-transform: uppercase;*/
}

nav ul li {
  display: inline-block;
}

.main-container {
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  padding: 5px;
}

nav.new-question {
  position: absolute;
  top: 25px;
  right: 10px;
}

.question-title {
  display: inline;
}

.vote-container {
  display: inline;
}

.vote-buttons {
  display: inline;
}

.vote-option {
  background: transparent;
  border: none;
}

.post-footer {
  display: inline;
}
