<div class="answer-container">
  <% if answer == @question.best_answer %>
    <div class="best-answer"><%= erb :'answers/_show_answer', locals: { answer: answer } %></div>
  <% else %>
    <div class="reg-answer"><%= erb :'answers/_show_answer', locals: { answer: answer } %></div>
  <% end %>

  <div class="post-comment">
    <button class="new-post-button" value="/answers/<%= answer.id %>/comments/new">Post Comment</button>
  </div>

  <div class="comment-list">
    <% answer.comments.each do |comment| %>
      <%= erb :"comments/_show", layout: false, locals: { comment: comment } %>
    <% end %>
  </div>
</div>
