<div id="answer-new">
  <% if logged_in? %>
    <form id="new-ans-form" action="/questions/<%= @question.id %>/answers" method="post">
      <input type="text" name="answer[content]">
  <% else %>
    <form id="new-ans-form" action="/sessions/new" method="get">
      <input type="text" name="answer[content]">
  <% end %>
      <button type="submit">Answer</button>
    </form>
</div>
