<div id="answer-new">
  <form id="new-ans-form" action="/questions/<%= @question.id %>/answers/new" method="post">
    <input type="text" name="answer[content]">
    <button type="submit">Answer</button>
  </form>
</div>
